<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Verification Failed</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h2>Email Verification Failed!</h2>
        <p>Please check your verification link or try again.</p>
        <div th:if="${session.message != null}">
            <p th:text="${session.message.content}" 
               th:classappend="${session.message.type == 'red'} ? 'text-red' : 'text-green'"></p>
        </div>
    </div>
</body>
</html>
